.main-card{
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    height: auto;
    padding: 25px;
}
.middle{
    margin: 10px auto;
}
.select-img{
    padding: 10px 18px;
    border-radius: 8px;
    color: #fff;
    background-color: #4272d7;
    font-size: 1rem;
    line-height: 1rem;
    transition: all .3s linear;
}
.be-author{
    margin: 30px 15px;
}
.p-5{
    padding: 5px!important;
}
.p-0{
    padding: 0!important;
}
.p-t-b-15{
    padding-top: 15px;
    padding-bottom: 15px;
}
.sub-post{
    /* width: 85%; */
    margin-bottom: 30px;
    /* box-shadow: 0 0 5px rgba(0,0,0,.3); */
    padding: 10px;
    border-radius: 10px;
}
.sub-post2{
    width: 85%;
    margin: 20px auto;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
    padding: 10px;
}
.main-post{
    /* width: 95%;
    margin: 20px auto; */
    /* box-shadow: 0 0 5px rgba(0,0,0,.3); */
    padding: 10px;
}
.sub-post a,.main-post a,.sub-post2 a{
    color: #333;
}
.sub-post .special-row{
    overflow: hidden;
    min-height: 220px!important;
}
.sub-post2 .special-row{
    overflow: hidden;
    min-height: 220px!important;
}
.row{
    
    margin: 0!important;
}
.special-row{
    width: 100%!important;
    height: 100%!important;
}
.sub-post-heading{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.author-info .author-img{
    overflow: hidden;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}
.author-info-row{
    display: flex;
}
.author-info-name{
    line-height: 35px;
    margin-left: 20px;
}
.post-heading{
    font-size: 1.2rem;
    margin-bottom: 10px;
}
.btn-comment-delete{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.categories{
    margin: 0;
    padding: 10px;
    padding-bottom: 18px;
}
.category-list{
    list-style: none;
    display: inline-block;
    margin-top: 10px;
}
.category-list a{
    padding: 5px 8px;
    background-color: #eee;
    transition: all .3s linear;
    color: #333;
}
.category-list a.active{
    background-color: #aaa;
}
.category-list a:hover{
    background-color: #ccc;
}
.post-content-wrapper{
    min-height: 80px;
    max-height: 100px;
}
.post-img{
    overflow: hidden;
    border-radius: 10px 0 0 10px;
    height: 100%;
}