*{
	padding: 0;
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}
img{
    width: 100%;
    height: 100%;
}
.m-10{
    margin-top: 10px;
}
.m-t-20{
    margin-top: 20px;
}
.m-0{
    margin: 0!important;
}
.p-0{
    padding: 0!important;
}

a:hover{
    text-decoration: none;
}
.w-h-100{
    max-width: 100%!important;
    max-height: 220px!important;
}

.sidebar{
    position: fixed;
    top: 50px;
    left: 0;
    width: 15%;
    height: 100%;
    background-color: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,.2);
    padding: 15px;
    z-index: 1;
}
.logo-img{
    width: 100px;
    height: 70px;
    margin: 0 auto;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #fff;
    box-shadow: 2px 0 8px rgba(0,0,0,.3);
    padding-right: 20px;
    z-index: 999;
}
.btn-index{
    padding: 10px 18px;
    border-radius: 8px;
    color: #fff;
    background-color: #4272d7;
    font-size: 1rem;
    line-height: 1rem;
    transition: all .3s linear;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.btn-profile{
    max-width: 35px;
    max-height: 35px;
    position: relative;
    top: 50%;
    overflow: hidden;
    transform: translateY(-50%);
    border-radius: 50%;
}
.btn-index:hover{
    color: #777;
    background-color: #E9FAFF;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
}
.btn-more{
    display: inline-block;
    padding: 10px 18px;
    border-radius: 8px;
    color: #fff;
    background-color: #4272d7;
    font-size: 1rem;
    line-height: 1rem;
    transition: all .3s linear;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
.more-comment{
    left: 0;
    transform: translateX(0);
}
.btn-more:hover{
    color: #777;
    background-color: #E9FAFF;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
}
.count-comment{
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    background-color: red;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);
}

.dashboard-link{
    color: #777;
    background-color: #fefefe;
    transition: all .4s linear;
}
.active-link{
    background-color: #4272d7;
    color: #fff;
    transition: all .3s linear; 
    border-radius: 15px;
}
.dashboard-link:hover{
    border-radius: 15px;
    color: #000;
    background-color: #E9FAFF;
    color: #333;
    box-shadow: 0 0 5px rgba(0,0,0,.3);
}
.active-link:hover{
    border-radius: 0;
    color: #fff;
    background-color: #4272d7;
}
.header-links{
    display: flex;
    justify-content: space-between;
}
.header-link{
    list-style: none;
    display: inline-block;
    position: relative;
    top: 13px;
}
.header-link a{
    padding: 5px 12px;
}
@media (max-width: 500px){
    .sidebar{
        display: none;
    }
}