*{
	padding: 0;
	box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}
img{
    width: 100%;
    height: 100%;
}
.btn-my{
    width: 70%;
    margin: 1rem 15%;
    height: 60px;
    border: none;
    background: #4272d7;
    color: #fff;
    text-align: center;
    display: inline-block;
    transition: all .3s linear;
}
.btn-my:hover{
    background-color: #E9FAFF;
    color: black;
}
a:hover{
    text-decoration: none;
}
.required{
    border: 1px solid red !important;
}

/*********************************
**********SIGNIN*****************
*********************************/
.body{
    background-color: #E9FAFF;
}
.signin,.signup,.forgot-pass,.reset-pass{
    width: 35%;
    height: 75%;
    padding: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    border-radius: 7px;
    box-shadow: 3px 3px 6px rgba(0,0,0,.2);
}
legend{
    margin-bottom: 1.5rem;
}
.logo-img{
    width: 90px;
    height: 60px;
    display: inline-block;
}
.username,.pass,.email{
    display: block;
    width: 70%;
    margin: 0 auto;
}
.username input,.pass input,.email input{
    display: inline-block;
    width: 100%;
    height: 60px;
    border: none;
    padding: 0 10px;
    position: relative;
}
.username input{
    border: 1px solid #ccc;
}
.pass input{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.email input{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
.username input:focus ,.pass input:focus,.email input{
    border-color: #E9FAFF;
    outline: 0 auto;
}
.wrong{
    margin: 0 15%;
    color: red;  
}
@media (max-width: 500px){
    .signin,.signup,.forgot-pass,.reset-pass{
        width: 80%;
        height: 90%;
        padding: 25px;
    }
}